*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.page {
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: Fira Sans Condensed, sans-serif;
    font-size: 18px;
    background-color: #1b1919;

    /*Центрую по середине страницы*/
    display: flex;
    justify-content: center;
    align-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0;
}

ul,
ol {
    list-style: none;
}

img {
    height: 100%;
    width: auto;
}

/*Прячу лишние лейблы и браузерные чекбоксы, чтобы сверху рисовать свои */
.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 1140px;
}

/*БЛОК ВИДЕО С ФИЛЬТРОМ*/

/*Видео*/
.result {
    position: relative;
    max-width: 1140px;
    width: 100%;
    margin-right: 30px;
}

.result__video-container {
    position: relative;
    width: 711px;
    height: 386px;
}

.result__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*Фильтр*/
.search-form {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 15px;
    max-width: 711px;
    width: 100%;
}

.search-form__fieldset {
    border: none;
}

.search-form__fieldset-title {
    font-family: Fira Sans Condensed, sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    padding-bottom: 6px;
}

.search-form__textfield {
    display: flex;
    min-inline-size: 225px;
    min-block-size: 27px;
    align-items: center;
    background-color: transparent;
    appearance: none;
    border: none;
    outline: none;
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    color: white;
    font-family: Fira Sans Condensed, sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}

.search-form__textfield:active {
    border: 1px solid #fff;
}

.search-form__textfield:focus {
    outline: none;
}

.search-form__textfield:focus-visible {
    outline: 1px solid #fff;
}

.search-form__label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: fit-content;
    cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
    text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
    outline: 1px solid #fff;
    outline-offset: 2px;
}

.search-form__label:has(.search-form__textfield:active) {
    outline: none;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.search-form__checkbox-list {
    display: flex;
    margin-bottom: 5px;
    gap: 15px;
}

.search-form__pseudo-checkbox {
    inline-size: 19px;
    block-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
    content: "";
    min-inline-size: 15px;
    min-block-size: 15px;
    background-color: #fff;
}

/*Кнопка*/
.button {
    height: 34px;
    border: 1px solid currentColor;
    color: #fff;
    text-align: center;
    font-family: Fira Sans Condensed, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    background-color: transparent;
}

.button:hover {
    text-decoration: underline;
}

.button:active {
    background: #545050;
}

.button:focus {
    outline: none;
}
.button:focus-visible {
    outline: 1px solid #fff;
}

.more-button {
    width: 100%;
}

.search-form__submit-button {
    width: 194px;
}

/*БЛОК ВЫБОРА ГОРОДА*/

.content__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    height: 100%;
    width: 100%;
}

.title {
    color: #fff;
    font-family: Oswald, sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 94%; /* 70.5px */
    text-transform: uppercase;
}

.content__accent {
    color: #545050;
}

.content__list {
    display: flex;
    width: 100%;
    height: 295px;
    flex-direction: column;
    gap: 30px;
    position: relative;
    overflow: auto;
}

.content__video-card {
    display: flex;
    justify-content: space-between;
}

.content__video-card-title {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    color: #fff;
    font-family: Oswald, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 30px */
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 3px;
}

.content__video-card-description {
    color: #fff;
    font-family: Fira Sans Condensed, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
}

.content__video-card-description-container {
    flex-grow: 1;
    max-width: 200px;
    width: 100%;
}

.content__video-card-thumbnail {
    width: 194px;
    height: 103px;
    object-fit: cover;
    object-position: center;
}

.content__card-link {
    display: block;
    margin: 2px;
    text-decoration: none;
}

.content__card-link:focus {
    outline: none;
}

.content__card-link:active {
    background-color: #545050;
}

.content__card-link:focus-visible {
    outline: 1px solid #fff;
    text-underline-offset: 1px;
}

.content__card-link:hover {
    text-decoration: underline #fff;
}

.content__card-link_current {
    background: #545050;
}
